body{
  background-image: url('../images/background.jpg') ;
  background-repeat: no-repeat center;
  background-size:1300px;
}
div{
  margin: 150px auto;
  height: 250px;
  width: 450px;
  border: 2px solid black
}
